<script type="text/javascript" src="{{ request.static_url('deform:static/scripts/deform.js') }}"></script>
<link rel="stylesheet" href="{{ request.static_url('deform:static/css/form.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ request.static_url('khufu_deform:static/style.css') }}" type="text/css" />
