{% extends "khufu_deform:templates/layout.jinja2" %}
{% block extra_head %}
{% include "khufu_deform:templates/deform-head.jinja2" %}
{% endblock %}
{% block title %}{{item_label}}{% endblock %}
{% block content %}
<a href="..">Back</a>
<br>
<a href="@@edit">Edit This Entry</a>
<h2>{{item}}</h2>
{{ form|safe }}
{% endblock %}
