{% extends "khufu_deform:templates/layout.jinja2" %}
{% block extra_head %}
{% include "khufu_deform:templates/deform-head.jinja2" %}
{% endblock %}
{% block content %}
<a href=".">Back</a>
{% if form_type == 'add' %}
<h2>Add New {{item_label}}</h2>
{% else  %}
{% endif  %}
{{ form|safe }}
{% endblock %}
